<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Diseño_Login.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/Codigo_Login.js') }}"></script>

    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
</head>
<body>
<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><a class="btn">Sign in</a></li>
                <li class="signup-inactive"><a class="btn">Sign up</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form class="form-signin" id="loginForm" action="{{ url_for('login.login') }}" method="post" name="form">
                <label for="username">Email</label>
                <input class="form-styling" type="text" name="username" placeholder=""/>
                <label for="password">Password</label>
                <input class="form-styling" type="password" name="password" placeholder=""/>
                <input type="checkbox" id="checkbox"/>
                <label for="checkbox"><span class="ui"></span>Keep me signed in</label>
                <div class="btn-animate">
                    <button type="submit" class="btn-signin">Sign in</button>
                </div>
            </form>

            <form class="form-signup" action="{{ url_for('login.signup') }}" method="post" name="form">
                <label for="fullname">Full name</label>
                <input class="form-styling" type="text" name="fullname" placeholder="" required>
                <label for="email">Email</label>
                <input class="form-styling" type="email" name="email" placeholder="" required>
                <label for="password">Password</label>
                <input class="form-styling" type="password" name="password" placeholder="" required>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>

            <div class="success">
                <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                    <path fill="#ffffff" d="..."></path>
                </svg>
                <div class="successtext">
                    <p>Correo creado exitosamente.</p>
                </div>
            </div>
        </div>

        <div class="forgot">
            <a href="#">Forgot your password?</a>
        </div>

        <div>
            <div class="cover-photo"></div>
            <div class="profile-photo"></div>
            <h1 class="welcome">Welcome</h1>
        </div>
    </div>
</div>
</body>
</html>
